body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.error-container {
    text-align: center;
    padding-top: 100px;
}
.error-container h1 {
    font-size: 48px;
    color: #555;
}
.error-container p {
    color: #666;
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.leave {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}